body{
    margin: 0;
    padding: 0;
    background-image: url(https://file+.vscode-resource.vscode-cdn.net/Users/ignaciogabler/Desktop/Proyecto%20Sitio%20web/Sitio%20web/proyecto2-/Assets/IMG/fondodepantallabeck.jpeg?version%3D1715013439348);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}